---

---
<section id="members-container" class="px-5 flex flex-col justify-center items-center">
	<h1 class="font-poppins text-3xl font-light pb-10 text-center text-black">CONVENORS AND COORDINATORS.</h1>
	<div id="flex-container" class="grid sm:grid-cols-2 place-items-center gap-10 text-black">
		<section id="chief-convenors" class="">
			<p class="font-poppins font-light text-xl pb-5 text-center">Chief Convenors</p>
			<ul class="text-center">
				<li>Amarjit Brahma</li>
				<li>Kosturi Gogoi</li>
				<li>Abhishek Boro</li>
			</ul>
		</section>

		<section id="Co-convenors" class="">
			<p class="font-poppins font-light text-xl pb-5 text-center">Co-Convenors</p>
			<ul class="text-center">
				<li>Maophung Lu Lahary</li>
				<li>Dwrbi Daimari</li>
			</ul>
		</section>

		<section id="public-relation" class="sm:col-span-2">
			<p class="font-poppins font-light text-xl pb-5 text-center">Sponsor, Public Relations <br/> & Publicity Coordinators</p>
			<ul class="text-center">
				<li>Suman Ch Roy</li>
				<li>Bidisha Gogoi</li>
				<li>Shekhar Pritam Chaliha</li>
				<li>Abhay Chetri</li>
				<li>Priyanka Hazarika</li>
			</ul>
		</section>

		<section id="cultural" class="">
			<p class="font-poppins text-xl font-light pb-5 text-center">Cultural Coordinators</p>
			<ul class="text-center">
				<li>Simangsa Baro</li>
				<li>Sushma Brahma</li>
				<li>Jiyaul Alom Ahmed</li>
				<li>Bhargav Borgohain</li>
				<li>Bindia Basumatary</li>
			</ul>
		</section>

		<section id="Stage" class="">
			<p class="text-xl font-poppins font-light pb-5 text-center">Stage & Pandal Coordinators</p>
			<ul class="text-center">
				<li>Benjamin Taye</li>
				<li>Monoroma Hajong</li>
				<li>Rahul Choudhary</li>
				<li>Nirmallya Dey</li>
				<li>Anjima Bargayary</li>
				<li>Jyotirmoy Das</li>
			</ul>
		</section>

		<section id="Games" class="sm:col-span-2">
			<p class="text-xl font-poppins font-light pb-5 text-center">Games & Sports Coordinators</p>
			<ul class="text-center">
				<li>Hiranjan Basumatary</li>
				<li>Dipshikha Barman</li>
				<li>Irak Machahary</li>
				<li>Lalit Sangkhrang</li>
				<li>Sona Barlamfa Borosa</li>
				<li>Hilima Basumatary</li>
			</ul>
		</section>

		<section id="Art" class="">
			<p class="font-poppns font-light text-xl pb-5 text-center">Art & Craft Coordinator</p>
			<ul class="text-center">
				<li>Kosturi Gogoi</li>
			</ul>
		</section>

		<section id="Literary" class="">
			<p class="font-poppins font-light text-xl pb-5 text-center">Literary, Debate & <br/>Symposium Coordinators</p>
			<ul class="text-center">
				<li>Partha Pratim Sharma</li>
				<li>Rittika Talukdar</li>
			</ul>
		</section>

		<section id="Volunteer" class="sm:col-span-2">
			<p class="font-poppins font-light text-xl pb-5 text-center">Volunteer Coordinators</p>
			<ul class="text-center">
				<li>Bishal Kumar Deka</li>
				<li>Dhanashree Kumari</li>
				<li>Jintu Saikia</li>
			</ul>
		</section>
	</div>
</section>